.dropdown {
  position: absolute;
  background-color: #e54;
  display: none;
  padding: 12px;
  margin-top: 8px;
  border: 2px solid #333;
}

.dropdown.ativo {
  display: block;
}

.sobre:hover .dropdown.ativo {
  display: block;
}

.dropdown::before {
  content: "";
  width: 12px;
  top: -8px;
  rotate: 45deg;
  height: 12px;
  position: absolute;
  background-color: #e54;
  border-left: 2px solid #e54;
  border-top: 2px solid #e54;
  border-bottom: transparent;
}

.dropdown li a {
  text-transform: uppercase;
  margin: 12px 0px;
  color: #000;
  font-family: "IBM Plex Mono", Arial, Helvetica, sans-serif;
  font-weight: boldss;
  display: block;
}

.dropdown li a:hover {
  color: #fff;
}

@media (max-width: 600px) {
  .dropdown {
    position: relative;
    border: none;
    padding: 5px;
  }

  .dropdown::before {
    left: 20px;
  }
}
