* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

.grid-body {
  display: grid;
  grid-template-columns: 90px 90px 1fr 2fr;
}

.header,
footer {
  grid-column: 3 / -1;
  margin-top: 30px;
  padding: 22px 16px;
  background-color: #fb5;
}

@media (max-width: 600px) {
  .header,
  footer {
    grid-column: 1 / -1;
    margin-bottom: 0px !important;
  }
}

.ul-lista-links {
  display: flex;
  align-items: center;
  gap: 22px;
}

footer {
  margin-bottom: 20px;
  margin-top: 100px;
  padding-left: 90px;
  font-family: "IBM Plex Mono", Arial, Helvetica, sans-serif;
}

@media (max-width: 450px) {
  footer {
    padding-left: 12px;
    margin-top: 40px;
  }
}

footer h2 {
  font-size: 16px !important;
}

@keyframes animLeft {
  from {
    opacity: 0;
    transform: translate3d(0, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(8px, 0px, 0px);
  }
}

[data-anim-scroll] {
  opacity: 0;
}

[data-anim-scroll].ativo {
  opacity: 1;
  animation: animLeft 0.8s forwards;
}
