.link {
  text-transform: uppercase;
  font-weight: bold;
  color: #000;
  font-family: "IBM Plex Mono", Arial, Helvetica, sans-serif;
}

.titulo-principal {
  font-weight: 400;
  color: #333;
  max-width: 4ch;
  font-family: "Playfair Display SC", Georgia;
  font-size: 5.5rem;
}

@media (max-width: 600px) {
  .titulo-principal {
    font-size: 4rem;
  }
}

@media (max-width: 450px) {
  .titulo-principal {
    font-size: 3rem;
  }
}

.paragrafo-conteudo {
  font-family: Helvetica, Arial, sans-serif;
}
