.link {
  text-transform: uppercase;
  font-weight: bold;
  color: #000;
  font-family: "IBM Plex Mono", Arial, Helvetica, sans-serif;
}

.titulo-principal {
  font-family: "PlayFair Displat SC", Georgia;
  font-size: 3.5rem;
}

.paragrafo-conteudo {
  font-family: Helvetica, Arial, sans-serif;
}
