.faq {
  grid-column: 2 / -1;
  margin-top: 90px;
  padding: 16px;
}

dt {
  font-weight: bold;
  margin-top: 40px;
}

@keyframes toLeft {
  from {
    opacity: 0;
    transform: translate3d(0, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(15px, 0px, 0px);
  }
}

.ativo-dd {
  animation: toLeft 0.8s forwards;
  display: block;
}

dd {
  display: none;
  padding-left: 52px;
  margin-top: 16px;
  max-width: 75ch;
  margin-bottom: 22px;
}

.faq-lista {
  margin-left: 90px;
  margin-top: 40px;
  padding-right: 22px;
}

@media (max-width: 660px) {
  .faq {
    grid-column: 1 / -1;
    margin-top: 30px;
  }

  .faq-lista {
    margin-left: 0px;
    margin-top: 30px;
  }
}
