.contato {
  margin-top: 80px;
  grid-column: 2 / -1;
}

.contato-conteudo {
  gap: 10px;
  margin-left: 50px;
  display: grid;
  margin-top: 50px;
  grid-template-columns: 300px 1fr;
}

.contato-conteudo ul li {
  margin: 12px 0px;
  font-size: 12px;
  font-family: Helvetica, Arial;
  display: flex;
  align-items: center;
  gap: 16px;
}

.contato-conteudo ul li::before {
  content: "";
  background-color: #fb5;
  width: 30px;
  height: 8px;
  display: block;
}

@media (max-width: 660px) {
  .contato {
    grid-column: 1 / -1;
    padding: 16px;
  }

  .contato-conteudo {
    gap: 10px;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 450px) {
  .contato-conteudo {
    margin-left: 0px;
  }
}

.horario-funcionamento {
  display: flex;
  align-items: center;
}

.horario-funcionamento::after {
  content: "";
  background-color: red;
  border: 2px solid #000;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: block;
  margin-left: -10px;
}

.horario-funcionamento.aberto::after {
  background-color: green;
}

[data-btc] {
  background-color: greenyellow;
  padding: 4px;
}
